 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/foodship.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-group-1 {
  width: 737px;
  min-height: 549px;
  height: auto;
  margin: 202px auto 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 283px 20px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-group-1 {
    width: 746px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 284px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 323px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -7px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 297px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 32px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 814px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 18px;
}

.u-section-2 .u-text-1 {
  margin: 39px 57px 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px 57px 0;
}

.u-section-2 .u-image-1 {
  min-height: 407px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/ship.png");
  background-position: 50% 50%;
}

.u-section-2 .u-text-3 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 672px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 293px;
  }

  .u-section-2 .u-image-1 {
    min-height: 193px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 222px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -279px;
  }

  .u-section-2 .u-image-1 {
    min-height: 122px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/smile-1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 19px auto 0 -8px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-4 .u-image-1 {
  width: 362px;
  height: 280px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 280px;
}

.u-section-4 .u-image-2 {
  width: 173px;
  height: 272px;
  margin: 0 auto;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/badge.png");
  min-height: 280px;
  background-position: 50% 50%;
}

.u-section-4 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-4 .u-line-1 {
  width: 79px;
  height: 8px;
  transform-origin: left center 0;
  margin: 30px auto;
}

.u-section-4 .u-image-4 {
  min-height: 280px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/CAP.png");
  background-position: 50% 50%;
}

.u-section-4 .u-text-2 {
  margin: 76px 20px 0;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 118px;
  height: auto;
  margin: -173px auto 0 -285px;
}

.u-section-4 .u-line-2 {
  width: 80px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 85px auto 0;
}

.u-section-4 .u-image-5 {
  background-image: url("images/APE2.png");
  min-height: 280px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-2 {
    height: 271px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 138px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
    margin-left: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-4 .u-image-3 {
    min-height: 560px;
  }

  .u-section-4 .u-image-4 {
    min-height: 560px;
  }

  .u-section-4 .u-image-5 {
    min-height: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-image-3 {
    min-height: 531px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-4 {
    min-height: 217px;
  }

  .u-section-4 .u-image-5 {
    min-height: 531px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 334px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 263px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-4 .u-image-3 {
    min-height: 334px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    min-height: 203px;
  }

  .u-section-4 .u-image-5 {
    min-height: 334px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 973px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/ship-1.png");
  min-height: 309px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 509px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-line-1 {
  width: 80px;
  height: 8px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 14px auto 0 0;
}

.u-section-5 .u-list-1 {
  margin: 30px 0 0;
}

.u-section-5 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
}

.u-section-5 .u-image-2 {
  background-image: url("images/CAP.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  background-image: url("images/BAG.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 884px;
  }

  .u-section-5 .u-image-1 {
    min-height: 255px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 420px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 786px;
  }

  .u-section-5 .u-image-1 {
    min-height: 195px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 706px;
  }

  .u-section-5 .u-image-1 {
    min-height: 146px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 616px;
  }

  .u-section-5 .u-image-1 {
    min-height: 92px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/right-1.png");
  background-position: 50% 0%;
}

.u-section-6 .u-sheet-1 {
  min-height: 400px;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 584px;
}

.u-section-7 .u-text-1 {
  width: 177px;
  margin: 78px auto 0;
}

.u-section-7 .u-form-1 {
  width: 570px;
  margin: 83px auto 59px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-form-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/SkyeBlock.png");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 678px;
}

.u-section-8 .u-group-1 {
  width: 762px;
  min-height: 314px;
  height: auto;
  margin: 228px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 0;
}

.u-section-8 .u-line-1 {
  width: 80px;
  height: 8px;
  transform-origin: left center 0;
  margin: 30px 321px 0;
}

.u-section-8 .u-text-2 {
  margin: 30px 0;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  margin: 90px auto 0 -56px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-group-1 {
    width: 628px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-line-1 {
    width: 66px;
    margin-right: 265px;
    margin-left: 265px;
  }

  .u-section-8 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 481px;
  }

  .u-section-8 .u-line-1 {
    width: 50px;
    margin-right: 203px;
    margin-left: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 451px;
  }

  .u-section-8 .u-line-1 {
    width: 47px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-line-1 {
    width: 40px;
  }
}