 .u-section-1 {
  min-height: 943px;
}

.u-section-1 .u-image-1 {
  width: 256px;
  height: 220px;
  margin: 10px auto 0;
}

.u-section-1 .u-image-2 {
  margin-top: 20px;
  margin-left: 0;
  height: 655px;
  margin-bottom: 0;
  width: 1300px;
}

.u-section-1 .u-group-1 {
  width: 775px;
  min-height: 239px;
  height: auto;
  margin: -268px auto 30px calc(((100% - 1140px) / 2) + 183px);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin-top: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 762px;
  }

  .u-section-1 .u-image-2 {
    height: 474px;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -87px;
    margin-left: calc(((100% - 940px) / 2) + 165px);
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 909px;
  }

  .u-section-1 .u-image-2 {
    height: 363px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    margin-top: 24px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    height: 272px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    height: 171px;
    width: auto;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 62px auto 62px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-2 .u-shape-1 {
  width: 428px;
  height: 474px;
  margin: -22px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 467px;
  height: 526px;
  margin: -420px auto 31px 52px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 3.75rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

.u-section-2 .u-line-1 {
  height: 132px;
  transform-origin: center bottom 0;
  width: 6px;
  margin: -13px 52px 30px auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 295px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 62px 0 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 588px;
}

.u-section-2 .u-shape-2 {
  width: 428px;
  height: 474px;
  margin: -52px 0 0 auto;
}

.u-section-2 .u-image-2 {
  width: 380px;
  height: 548px;
  margin: -370px auto -12px 70px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    width: 353px;
  }

  .u-section-2 .u-image-1 {
    width: 385px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 5px;
    margin-right: 43px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-shape-2 {
    width: 353px;
  }

  .u-section-2 .u-image-2 {
    width: 313px;
    margin-left: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-1 {
    width: 545px;
    margin-left: 88px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-line-1 {
    width: 6px;
    margin-top: -114px;
    margin-right: 31px;
    margin-bottom: 16px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 179px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-shape-2 {
    width: 346px;
    margin-right: 62px;
  }

  .u-section-2 .u-image-2 {
    width: 516px;
    margin-left: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 466px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 454px;
    margin-right: 25px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-line-1 {
    width: 4px;
    margin-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-shape-2 {
    width: 253px;
    height: 422px;
    margin-top: 0;
    margin-right: 29px;
  }

  .u-section-2 .u-image-2 {
    width: 404px;
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1549px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-2 .u-shape-1 {
    width: 306px;
    height: 428px;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 288px;
    height: 402px;
    margin-top: -376px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-line-1 {
    width: 6px;
    margin-top: -132px;
    margin-right: 12px;
    margin-bottom: 17px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-top: 31px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 545px;
  }

  .u-section-2 .u-shape-2 {
    width: 275px;
    margin-top: 71px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 298px;
    height: 410px;
    margin-top: -393px;
    margin-bottom: 35px;
    margin-left: 21px;
  }
} .u-section-3 {
  min-height: 946px;
}

.u-section-3 .u-group-1 {
  width: 716px;
  min-height: 124px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 3.75rem;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1440px;
  margin: 35px auto 64px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/44584f567b1a6db192b34b8c2a77e35e.jpeg");
  min-height: 708px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/72dcfcf4be674ad437deb0baee106e8d.jpeg");
  min-height: 708px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/e2148f3e9c2b3ae1f914e1af690fc6b7.jpeg");
  min-height: 708px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 591px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 452px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 424px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 2.3%;
  }

  .u-section-3 .u-image-3 {
    background-position: 50% 0%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1007px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 62px auto 62px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 588px;
}

.u-section-4 .u-shape-1 {
  width: 382px;
  height: 182px;
  margin: 407px 80px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 413px;
  height: 526px;
  margin: -588px auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 295px;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 1.25rem;
  font-style: italic;
  margin: 20px 20px 0;
}

.u-section-4 .u-link-1 {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 30px 20px 0;
}

.u-section-4 .u-line-1 {
  height: 106px;
  transform-origin: center bottom 0;
  width: 6px;
  margin: -32px 40px 30px auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 295px;
}

.u-section-4 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 3.75rem;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 588px;
}

.u-section-4 .u-shape-2 {
  width: 428px;
  height: 474px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: initial;
  margin-left: 0;
}

.u-section-4 .u-image-2 {
  width: 500px;
  height: 548px;
  margin: -434px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    width: 315px;
    margin-right: 66px;
  }

  .u-section-4 .u-image-1 {
    width: 341px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-line-1 {
    width: 5px;
    margin-right: 33px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-shape-2 {
    width: 353px;
  }

  .u-section-4 .u-image-2 {
    width: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 399px;
    margin-right: 51px;
  }

  .u-section-4 .u-image-1 {
    width: 510px;
    margin-top: -568px;
    margin-left: auto;
    margin-bottom: 42px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 150px;
    margin-left: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-4 .u-line-1 {
    width: 6px;
    margin-top: -148px;
    margin-right: 30px;
    margin-bottom: 74px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-shape-2 {
    width: 270px;
  }

  .u-section-4 .u-image-2 {
    width: 562px;
    margin-right: auto;
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 226px;
    margin-right: 38px;
  }

  .u-section-4 .u-image-1 {
    width: 431px;
    margin-left: 27px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 62px;
    margin-left: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-line-1 {
    margin-top: -82px;
    margin-right: 9px;
    margin-bottom: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-shape-2 {
    width: 253px;
  }

  .u-section-4 .u-image-2 {
    width: 459px;
    margin-right: 38px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1774px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-shape-1 {
    width: 214px;
    margin-top: 312px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 316px;
    height: 433px;
    margin-top: -466px;
    margin-bottom: 33px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 260px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 3px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 370px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 20px;
  }

  .u-section-4 .u-shape-2 {
    width: 213px;
    height: 419px;
    margin-top: 33px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    width: 286px;
    height: 405px;
    margin-top: -360px;
    margin-right: 0;
    margin-bottom: 92px;
  }
} .u-section-5 {
  background-image: url("images/5546b0b0b3d251a7b29af68dbc03abcd.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 163px;
  height: auto;
  margin: 246px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  font-size: 3.75rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 338px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 283px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}