body,
div,
p {
    padding: 0.01px;
    margin: 0.01px;
    margin-top: 0px;
    margin-bottom: -0.01px;
    font-family: 'Black Ops One', cursive;
}

#top_border {
    height: 34vh;
    position: fixed;
    top: 0vh;
    left: 0;
    right: 0;
    transition: top 0.3s ease;
    /* 添加過渡效果 */
    z-index: 2;
    /* background-color: #B7B7BD; */
}



#height_block {
    height: 200vh;
}

#border_flexcontain {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    /* background-color: #B7B7BD; */
}



#border_flexcontain div {
    height: 8vh;
    margin: 2px;
}


#border_left {
    flex: 1;
}

#border_midel {
    flex: 3;
}

#border_right {
    flex: 1;
}

#border_midel table {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3.5vh;
}

#border_midel td {
    width: 33%;
}

#tp1B {
    background-image: url(../images/DAVIE/blue_bk.png);

}

#tp2B {
    background-image: url(../images/DAVIE/pink_bk.png);
}

#tp1B,
#tp2B {
    background-repeat: no-repeat;
    background-size: contain;
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-position: center;


}

#top_poster {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/DAVIE/top_bk.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10vh;
    /* padding-bottom: 10vh; */


}

#CF_poster_bk {
    background-image: url(../images/DAVIE/mid_bk.jpg);
    background-repeat: repeat-y;
    width: 100vw;
    background-size: contain;

}

#tp1,
#tp2 {
    margin-top: 10vh;
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1vh;

    /* 添加過渡效果 */
}

#tp1:hover,
#tp2:hover {
    filter: drop-shadow(2px 2px 2px #44444444);
}




#CF_poster_top {
    width: 100%;
    height: 15vh;
    background-image: url(../images/DAVIE/LLL.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    margin: 0px;

    text-align: center;
    line-height: 15vh;
    color: beige;
    font-size: 42px;
    letter-spacing: 19px;
}

#CF_poster {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
}

.CFmerchandises_bk {
    background-image: url(../images/DAVIE/cercle.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60vh;
    width: 30vw;
    margin: 0.1vw;
    /* border-radius: 50px; */
    border: 5px solid transparent;
    /* background: linear-gradient(45deg, #B7B7BD, #B1ACB3);
    /* 使用你想要的颜色 */
    /* -webkit-mask:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude; */
}

.CFmerchandises {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 80%;

}

#CF_poster_bot {
    height: 60vh;
    width: 100%;
}

#barcode {
    height: 15vh;
    width: 100%;
    background-image: url(../images/DAVIE/borcode.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}